<configuration>
<system.runtime.remoting>
<application>
<client>
	<wellknown type="BusinessObjectFactories.RemoteObjectFactory, BusinessObjectFactories" url="tcp://localhost:8085/RemoteObjects/RemoteObjectFactory.rem" />
</client>
<channels>
	<channel ref="tcp" />
</channels>
</application>

</system.runtime.remoting>
</configuration>