<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<!--
	Each of the following sections is part of an example.  Uncomment
	each section, save the file and refresh the examples page.
	The ConfigItemEncrypter can be used to encrypt a config setting
	and then test that setting in the testencryptedsettings.aspx page.
-->
	<!-- Example 1 -->
<!--
    <configSections>
		<section name="mailServers" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  allowDefinition="MachineToApplication"/>
    </configSections>
    -->
    
     <configSections>
		<section name="mailServers" type="Apress.AspNetBestPractices.WebNameValueFileSectionHandler, NameValueFileSectionHandler" />
    </configSections>
    <mailServers file="devsettings.config">
		<add key="sales" value="salesmail.mycompany.com" />
		<add key="it" value="it.mycompany.com" />
    </mailServers>
  

	<!-- End Example 1 -->
	
	
	<!-- Example 2 -->
<!--	
     <configSections>
		<section name="mailServers" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    
    <mailServers file="devsettings.config">
		<add key="sales" value="sales.mycompany.com" />
		<add key="it" value="it.mycompany.com" />
    </mailServers>
-->
 
	<!-- End Example 2 -->
	
	<!-- Example 3 -->
	<!--
	For this sample, use the configuration from example 1 and
	put the web.config.root file in the root folder of the web site
	-->
	<!-- End Example 3 -->
	
	
	<!-- Example 4 
	Make sure the web.config.root file in the project directory is
	placed at the web site root and renamed to web.config
 -->
<!--
     <mailServers>
     	<add key="sales" value="salesmail.mycompany.com" />
		<add key="it" value="it.mycompany.com" />
    </mailServers>
 -->
	<!-- End Example 4 -->
	<!-- Example 5 
	NOTE: you will have to create a new encryted value on your machine for this to work.
	The values below will not work on a new machine because the key has not been installed.
 -->

 <!--
	<configSections>
		<section name="dbSettings" type="APress.ASPNetBestPractices.EncyptedConfigurationSectionHandler, EncyptedConfigurationSectionHandler" />
	</configSections>
	<dbSettings>
		<add key="northwind" value="JReje1CbC/KOnLn1it0x+xaw21Va6kMv085MXVqan50y+DVlIpWSQqPkMyGBXgZtjmV01F2L5gufCbkcdibxobEntTsDpM+9xg0B30cZukhWo975cqq50UlOTbPGgqqDcY8ZFhd7wV/ddaDuCM5kgTyVSWdMzLIqvBnzolhTDtw=" />
	</dbSettings>
-->
	
	<!-- End Example 5 -->
	<!-- Standard Web configuration items -->
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
	</system.web>
</configuration>
