vti_encoding:SR|utf8-nl
vti_author:SR|ILM-DEVELOP1\\Administrator
vti_modifiedby:SR|ILM-DEVELOP1\\Administrator
vti_timecreated:TR|01 Sep 2002 17:06:47 -0000
vti_timelastmodified:TR|02 Sep 2002 18:42:06 -0000
vti_filesize:IR|3343
vti_extenderversion:SR|4.0.2.4426
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|02 Sep 2002 18:40:08 -0000
vti_cacheddtm:TX|02 Sep 2002 18:42:06 -0000
